Select Asset:
{% set csv = craft.assets.collect() %}

<ul>
    {% for item in csv %}
        <li>
            <a class="go" href="/{{ craft.app.request.fullUri }}?section={{ craft.app.request.param('section') }}&assetId={{ item.id }}">
                <strong>
                    {{ item.title }} - {{ item.id }}
                </strong>
            </a>
        </li>
    {% endfor %}
</ul>
